body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card-header {
    font-size: 24px;
}

.card-body {
    padding: 40px;
}

.img-fluid {
    max-width: 100%;
}

.list-group-item {
    border: none;
}
