/* FORM */
.bg-form{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.397);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    
}
.bg-form form{
    width: 25%;
    height: 45%;
    background-color: white;
    position: relative;

}
.bg-form form div{
    width: 100%;
    height: fit-content;
    display: inline-block;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
    font-family: var(--play);
}
.bg-form form div input,textarea {
    padding: 8px 15px;
    border: 1px solid rgba(161, 161, 161, 0.452);
    outline: none;
    
}
.bg-form form div #name {
    width: 220px; /* Đặt chiều rộng của mỗi input là 50%, trừ đi khoảng cách giữa chúng */
    margin-right: 12px;
}
.bg-form form div #sdt{
    width: 200px; /* Đặt chiều rộng của mỗi input là 50%, trừ đi khoảng cách giữa chúng */
}
.bg-form form div #email , #text{
    
    margin-top: 20px;
    width: 436px;
}
.bg-form form p{
    border-bottom: 0.5px solid gray;
    padding: 10px 12px;
    font-family: var(--play);
    font-size: 23px;
    color: rgb(66, 66, 66);
}
.bg-form form>.del{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 8px 12px;
    font-family: var(--play);
    border: none;
    font-size: 22px;
    background-color: rgba(235, 31, 31, 0);
}
.bg-form form div .send{
    margin-top: 25px;
    background-color: black;
    color:  white;
    font-family: var(--play);
    font-size: 25px;
    padding: 6px 46px;
}


/* Chi tiết SP */

main{
    box-shadow: 0px 0px 25px rgba(214, 214, 214, 0.212);
}
.detail>h2 {
    font-size: 15px; 
    font-weight: normal;
    width: fit-content;
    border-bottom: 1px rgba(75, 75, 75, 0.349) solid;
    padding: 10px; 
    font-family: var(--play);
    color: rgb(0, 0, 0);
}
.detail{
    margin: 50px 50px;
}
#detail { 
    display: grid; 
    grid-template-columns: 50% 50%;
}
#detail  #left > img { 
    max-width: 100%;
    height: 100%;
} 
#detail #right{
    padding-left: 20px;
    font-family: var(--play);
}
#detail #right h2{
    font-size: 45px;
    font-weight: bold;
}
#detail #right .price{
    font-size: 30px;
}
#detail #right .price del{
    font-size: 20px;
    color: gray;
    font-weight: normal;
}
.support a{
    text-decoration: none;
    color: black;
    margin-right: 8px;
    font-weight: bold;
    transition: 0.3s;

}
.support a i{
    margin-right: 4px;
}
.support a:hover{
    color:  red;
}
#detail #right .price strong{
    color: red;
    font-size: 32px;
}
#detail #right p{
    font-size: 17px;
    margin: 15px 0;
}
#detail #right strong{
    font-size: 22px;
}
.quality{
    border-bottom: 1px black solid;
    width: fit-content;
}
.quality strong{
    margin: 0px 30px;
}
.quality button{
    line-height: 25px; 
    border: none; 
    color:rgba(124, 124, 124, 0.514);
    background-color: rgba(255, 255, 255, 0);
    font-weight: normal;
    margin: 0px;
}
#detail #right .buyNow{ 
    font-weight: bold;
    font-size: 20px;
    padding: 10px 82px;
    border: none; 
    background: black; color:white;
    transition: 0.4s;
}  
#detail #right .buyNow:hover{
    background-color: red;
}
#detail #right .addCart{ 
    border: 1px solid rgba(160, 160, 160, 0.514);
    margin-left: 8px;
    padding: 14px 22px;
    font-size: 20px;
    background: rgb(0, 0, 0); color:rgb(255, 255, 255);
}  
#detail #right .addCart:hover{
    background-color: white;
    transition: 0.4s;
    color: black;
}
#detail #right .addLove{
    border: 1px solid rgba(160, 160, 160, 0.514);
    margin-left: 8px;
    padding: 14px 22px;
    font-size: 20px;
    background: white; color:rgba(160, 160, 160, 0.514);
}
#detail #right .addLove:hover{
    background-color: black;
    transition: 0.4s;
    color: white;
}


